# application configuration
APP_NAME=Farisha27
APP_ENV=local
APP_KEY=base64:VKoXGKgJKN5verJuUOcoGUGlVG7z+0Zk99RplP6iSsM=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

# locale configuration
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_TIMEZONE=Asia/Dhaka
APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database
# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

# log configuration
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


# session configuration
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

VITE_APP_NAME="${APP_NAME}"
BROADCAST_CONNECTION=reverb

# reverb configuration
REVERB_APP_ID=783320
REVERB_APP_KEY=gij4axqcnc0swdc7qwew
REVERB_APP_SECRET=sggvg8qszjqg3xworwwt
REVERB_HOST="dashboard.altijd-veilig.nl"
REVERB_SERVER_PORT=8082
REVERB_SCHEME=https
REVERB_PORT=443
# vite configuration
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"


# database configuration
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=farisha27_backend
DB_USERNAME=root
DB_PASSWORD=

# mail configuration
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mail.thesyndicates.team
MAIL_PORT=465
MAIL_USERNAME=support@thesyndicates.team
MAIL_PASSWORD="OS%A]6ct5SY@HNoI"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="support@thesyndicates.team"
MAIL_FROM_NAME="${APP_NAME}"

# jwt configuration
JWT_SECRET=92GTdnGmgwRENc3RXKokxyOAzErcuHowQjjTrjHuXZG8TKuuovQOX0hc0zooBGcY
